.portofolio__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 25px;
    width: 90%;
    margin: auto;
}

.portofolio__container .content{
    position: relative;
    height: 100%;
}

.portofolio__container .content .img-box img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.portofolio__container .content .img-box .detail{
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    color: #fff;
    z-index: 2222;
}

/* .portofolio__container .content .img-box .detail::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 345px;
    background: rgb(15 28 47 / 30%);
    z-index: -1;
    margin: 20px;
    border-radius: 5px;
} */

.portofolio__container .content .detail h3{
    font-size: 14px;
    /* color: #242054; */
    color: #fff;
    width: 80%;
}
.portofolio__container .content .detail h3:hover{
    color: #dbd9e4;
}

.portofolioDetail{
    margin-top: 200px;
}