/* body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
} */

.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #242054;
    padding: 50px 50px;
    color: white;
}

.footer .contact__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

.footer .contact__container .footer-content{
    width: 30%;
}

h3{
    font-size: 26px;
    margin-bottom: 15px;
}

.footer-content p{
    margin: auto;
    padding: 2px;
    font-weight: 200;
    color: #c0bfbf;
}

.sosial-icons li a{
    padding: 0;
    color: #c0bfbf;

}

.sosial-icons li a i{
    padding: 10px 10px 10px 0px;
}

.sosial-icons li a:hover{
    color: #f9ad1d;
}

.sosial-icons i:hover{
    color: #f9ad1d;
}


.bottom-bar{
    background-color: #f9ad1d;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    width: 100%;
}