.footer{
    background-color: #242054;
    padding-top: 50px;
    color: white;
}

.contact__container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-content{
    
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}

.sosial-icons{
    text-align: center;
    padding: 0;
}

.sosial-icons li{
    color: white;
    font-size: 25px;
}
.sosial-icons li i{
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: #f9ad1d;
}

.sosial-icons i:hover{
    color: #f9ad1d;
}

.bottom-bar{
    background-color: #f9ad1d;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}