.footer{
    width: 100%;
    background-color: #242054;
    padding: 50px 50px;
    color: white;
}

.footer .contact__container{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

.footer .contact__container .footer-content{
    /* background-color: #f9ad1d;     */
}

h3{
    font-size: 26px;
    margin-bottom: 15px;
}
h4{
    margin: 10px 0;
}
.footer-content p{
    margin: auto;
    padding: 2px;
    font-weight: 200;
    color: #c0bfbf;
  
}

.sosial-icons li a{
    padding: 0;
    color: #c0bfbf;
   align-items: center;

}

.sosial-icons li a i{
    padding: 10px 10px 10px 0px;
    font-size: 25px;
}

.sosial-icons li a:hover{
    color: #f9ad1d;
}

.sosial-icons i:hover{
    color: #f9ad1d;
}


.copyright{
    background-color: #1f1b47;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.copyright p{
    color: #c0bfbf;
    font-size: 14px;
    
}

@media screen and (max-width: 768px) {
    .footer .contact__container{  
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    h3{
        font-size: 20px;
        margin-bottom: 15px;
    }  
}

